<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/index.css" rel="stylesheet">
        <title>Learn Spanish <!--{% block title %}{% endblock %}--></title>
    </head>
    <body>
        <div class="container">
            <header>
                <img src="{{ url_for('static', filename = 'images/LearnSpanish.jpg') }}" alt="logo" width="200" height="200" class="logo">
            </header>
            <main>
                <!--{% block main %}{% endblock %}-->
            </main>
            <footer>this is the footer</footer>
        </div>
    </body>
</html>